body {
    /*background-color: #D3D4D9;*/
    background-color: #D3D4D9;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    font-family: roboto, sans-serif
}

div {
    width: 25vw;
  /* border: 15px solid green; */
}

div.nameplate {
    width: 100vw;
    padding-top:3vw;
    text-align: center;
    margin: 1vw;
}

div.page-content {
    width: 100vw;
    /* border: 15px solid green; */
    text-align: center;
    overflow-y: scroll;
}


h {
    color: #0E131F;
    font-family: roboto, sans-serif;
}

h1 {
    /*color: #0E131F;*/
    text-align: center;
    font-size: 3vw;
    /*font-family: roboto, sans-serif;*/
}

h2 {
    /*color: #0E131F;*/
    text-align: center;
    font-size: 2.5vw;
    /*font-family: roboto, sans-serif;*/
}

p {
  font-size: 2vw;
  font-family: roboto, sans-serif;
  text-align: center;
}

.footer-text {
    font-size: 1vw;
    text-align: right;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6C6F7D;

    position: fixed;
    top: 0;
    height: 4vw;
    width: 100vw;
}

li {
    height: 4vw;
    width: 10vw;
    display: inline;
}

li.rightalign {
    border-left: 1px solid #bbb;
    float: right;
}

li.leftalign {
    border-right: 1px solid #bbb;
    float: left;
}

.btn {
    display: block;
    height:4vw;
    width: 10vw;
    text-align: center;
    padding-bottom: 0.5vw;
    border: none;
    font-size: 2vw;
    font-weight: bold;
    color: #0E131F;
    background-color: #6C6F7D;
    transition: background-color 0.3s ease-out;

}

.btn:hover {
    background-color: #F15152;
    transition: background-color 0.3s ease-out;
}
